.ͼ2 .cm-gutters {
    background-color: #74747429;
    color: #999;
    border-right: 1px solid #dddddd2e;
}

.ͼ2 .cm-activeLineGutter {
    background-color: #6c6c6c45;
}

.ͼ2 .cm-activeLine {
    background-color: #5d5d5d36;
}